<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Cyrus Besabella - Portfolio</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/css/app.css">
  </head>
  <body>
    <div id="app">
        <div :class="appBg" v-cloak>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 app-header">
                        <h1 @click="homeContent">Cyrus<br>Besabella</h1>
                        <ul class="app-navigation">
                            <li :class="{active:resume}" @click="resumeContent">RESUME</li>
                            <li :class="{active:contact}" @click="contactContent">CONTACT</li>
                            <li :class="{active:projects}" @click="projectsContent">PROJECTS</li>
                            <li :class="{active:home}" @click="homeContent">HOME</li>
                        </ul>
                    </div>
                </div>
                <div class="app-content" v-if="home" v-cloak>
                    <h2>HOME</h2>
                    <div class="row">
                        <div class="col-md-4">
                            <p>
                                <center>
                                    <img class="img-fluid rounded-circle app-profile-pic" src="assets/img/sai-image.jpg">
                                </center>
                            </p>
                            <p>
                                I am Cyrus "Sai" Besabella from the province of Cavite, Philippines. A self taught web developer.
                                <br>2 years experience using PHP Programming language and CSS/HTML. Tech savy. A father of 2 boys "Awit" and "Seya".
                            </p>
                        </div>
                        <div class="col-md-4">
                            <p>
                                HTML / CSS <span class="float-right">99%</span>
                            </p>
                            <p>
                                PHP <span class="float-right">80%</span>
                            </p>
                            <p>
                                MySQL <span class="float-right">75%</span>
                            </p>
                            <p>
                                JavaScript <span class="float-right">60%</span>
                            </p>
                            <p>
                                Codeigniter <span class="float-right">90%</span>
                            </p>
                            <p>
                                Laravel <span class="float-right">50%</span>
                            </p>
                        </div>
                        <div class="col-md-4">
                            <p>Right Now!</p>
                            <p>Developing using Game Maker Studio 2</p>
                            <p>Some personal project using Laravel and VueJs</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <center>
                                <ul class="app-pl">
                                    <li><img src="assets/img/php-mysql-logo.png"></li>
                                    <li><img src="assets/img/html5-logo.png"></li>
                                    <li><img src="assets/img/css-logo.png"></li>
                                    <li><img src="assets/img/codeigniter.svg"></li>
                                    <li><img src="assets/img/laravel-logo.png"></li>
                                </ul>
                                <div class="app-img-credit">
                                    <span>Image Credits</span>
                                    <a href="http://unsplash.com" target="blank_">
                                        Luca Bravo | seth schwiet | Patrick Lindenberg | Kevin Bhagat | Dawid Sobolewski | Grovemade | Nielsen Ramon | Caspar Rubin | Pineapple Supply Co. | Vadim Sherbakov
                                    </a>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
                <div class="app-content" v-if="resume" v-cloak>
                   <h2>Resume</h2> 
                   <h2>In development...</h2>
                </div>
                <div class="app-content" v-if="contact" v-cloak>
                   <h2>Contact</h2> 
                   <h2>In development...</h2>
                   
                </div>
                <div class="app-content" v-if="projects" v-cloak>
                   <h2>Projects</h2> 
                    <span class="app-show-details" @click="showDetails">Show Details</span>
                   <div class="row">
                       <div class="col-md-4">
                           <div class="project-img">
                               <img class="img-fluid" src="assets/img/maxs-website.png">
                               <span :class="detailShow">Work with the back-end and front-end and some database schema design specially the store locator. <br><a href="https://www.maxschicken.com/">Link</a></span>
                           </div>
                       </div>
                       <div class="col-md-4">
                           <div class="project-img">
                               <img class="img-fluid" src="assets/img/pancakehouse-website.png">
                               <span :class="detailShow">Work with the back-end and front-end and some database schema design. <br><a href="https://www.pancakehouse.com.ph/">Link</a></span>
                           </div>
                       </div>
                       <div class="col-md-4">
                           <div class="project-img">
                               <img class="img-fluid" src="assets/img/stlukes-website.png">
                               <span :class="detailShow">Work with the back-end and front-end and some database schema design. <br><a href="https://stlukes.com.ph/">Link</a></span>
                           </div>
                       </div>
                   </div>
                </div>
            </div>
        </div>

    </div>
    <!-- images -->
    <!-- Photo by Luca Bravo on Unsplash
    Photo by seth schwiet on Unsplash
    Photo by Patrick Lindenberg on Unsplash
    Photo by Kevin Bhagat 
    Photo by Dawid Sobolewski on Unsplash
    Photo by Grovemade on Unsplash
    Photo by Nielsen Ramon on Unsplash
    Photo by Caspar Rubin on Unsplash
    Photo by Pineapple Supply Co. on Unsplash
    Photo by Vadim Sherbakov on Unsplash-->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="assets/js/particles.js"></script>
    <script src="assets/js/app.js"></script>
  </body>
</html>